/* dark.css */

:root {
  --navbar-bg-color: #1d1f2c; /* Dark mode background color */
  --text-color: #ecca2f; 
  --name-color:white;
  --bg-hm:#343642;
  --hm-intro : #494a55;
  --intro :#ecca2f;
  --intro-sc :white;
  --card-port :#1d1f2c;
  --ctc-bg : #1d1f2c;
}
